<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div >
    <div th:fragment="index-template"  id="wraper" class="wrap">
	    <div th:replace="pages/index :: index-page"/>
    </div>
    <div th:fragment="search-template"  id="wraper" class="wrap">
	    <div th:replace="pages/search :: search-page"/>
    </div>
    
    <div th:fragment="cdis-template"  id="wraper" class="wrap">
	    <div th:replace="pages/cdis :: cdis-page"/>
    </div>
    
</div>
</body>
</html>