<html xmlns:th="http://www.thymeleaf.org">


<head th:fragment="common-header">
    <link rel="stylesheet" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/jquery-ui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="webjars/font-awesome/5.8.2/css/all.min.css">
    
    <link rel="stylesheet" th:href="@{/css/common/cdis-default.css}" href="../../css/common/cdis-default.css" />
    
    <script src="webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
    <script src="webjars/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="webjars/momentjs/2.24.0/min/moment.min.js"></script>
    
    
    <script th:src="@{/js/common/livevalidation.js}" ></script>
    <script th:src="@{/js/common/common.js}" ></script>
    <script th:src="@{/js/common/navigation.js}" ></script>
    <script th:src="@{/js/common/generic.js}" ></script>
    <script th:src="@{/js/common/define.js}" ></script>
    
    
    
</head>


<head th:fragment="index-header"></head>
<head th:fragment="search-header"></head>
<head th:fragment="cdis-header"></head>


<head th:fragment="header-css"></head>

<body></body>
</html>