

.grvinput{display:grid;height:100%;width:100%;}


.grvinput .grvinput-label {width:100%;height:100%;vertical-align: middle;line-height: normal;}
.grvinput .grvinput-label.focus {font-weight:bold;}
.grvinput .grvinput-control{width:100%;height:100%;margin:0px;padding:0px;border:1px solid #cdcdcd;}
.grvinput .grvinput-control input {width:100%;height:100%;outline: none;border:none;box-shadow: none;padding:0px;font-size:100%;background:transparent;}
.grvinput .grvinput-control.focus {border-color:transparent;border-bottom:1px solid #000000;}



.grvbutton{padding:0.2em 0.3em;margin:0.2em;box-sizing: border-box;text-decoration:none;font-weight:400;text-align:center;position:relative;cursor:default;}

.grvbutton.normal{border:0.15em solid #305BA2;color:#ffffff;background-color:#305BA2;}
.grvbutton.normal:hover{background-color:#0245b8;}

.grvbutton.search{border:0.15em solid #47BFC0;color:#ffffff;background-color:#47BFC0;}
.grvbutton.search:hover{background-color:#db4437;}

.grvbutton.common{border:0.15em solid #4b3b3b;color:#ffffff;background-color:#4b3b3b;}
.grvbutton.common:hover{background-color:#db4437;}


.grvlist{width:100%;height:100%;}
.grvlist .grvlist-group-v{list-style:none;margin:0px;padding:0px;}
.grvlist .grvlist-group-v .grvlist-group-item{padding:5px;background-color:#efefef;text-align:center;}
.grvlist .grvlist-group-v .grvlist-group-item.active{background-color:#4b3b3b;color:#ffffff;}
.grvlist .grvlist-group-v .grvlist-group-item:hover{background-color:#db4437;color:#ffffff;}


.grvdropdown{display:grid;grid-template-rows:auto;cursor:default;}
.grvdropdown-value{display:grid;grid-template-columns:auto 15px;line-height:normal;align-self:center;height:100%;}
.grvdropdown-value:hover{font-weight:bold;}
.grvdropdown-value-label{line-height:normal;text-align:center;align-self:center;}
.grvdropdown-value-icon{text-align:center;align-self:center;}
.grvdropdown-menu{display:none;position:absolute;list-style: none;margin:0px;padding:0px;}
.grvdropdown-item{width:100%;padding:5px 0px 5px 0px;}
.grvdropdown-item span{padding-left:5px;}
.grvdropdown-item:hover{background-color:#db4437;color:#ffffff;width:100%;}
.grvdropdown-item.active{background-color:#4b3b3b;color:#ffffff;}
.grvdropdown-menu.out{display:none;}
.grvdropdown-menu.in{display:block;}



.grvmodal{position:absolute;display:none;top:0px;left:0px;width:100%;height:100%; background:transparent;z-index:10000;}
.grvmenu{position:absolute;background:#ffffff;box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);border:1px outset #cdcdcd;cursor:default;}
.grvmenu-item{padding:5px;}
.grvmenu-item:hover{background:#4d4d4d;color:#ffffff;padding:5px;}


/* The switch - the box around the slider */
.grv-switch {position: relative;display: inline-block;width: 35px;height: 20px;}
.grv-switch input {opacity: 0;width: 0;height: 0;}
.grv-switch .slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;}
.grv-switch .slider:before {position: absolute;content: "";height: 16px;width: 16px;left: 2px;bottom: 2px;background-color: white;-webkit-transition: .4s;transition: .4s;}
.grv-switch input:checked + .slider {background-color: #2196F3;}
.grv-switch input:focus + .slider {box-shadow: 0 0 1px #2196F3;}
.grv-switch input:checked + .slider:before {-webkit-transform: translateX(16px);-ms-transform: translateX(16px);transform: translateX(16px);}
.grv-switch .slider.round {border-radius:20px;}
.grv-switch .slider.round:before {border-radius: 50%;}


.grv-message-container{background-color:#E6E9EE;}
.grv-message-tag-new{background-color:#2D65C6;color:#ffffff;}








