

.grvmessage{width:100%;height:100%;display:grid;grid-template-rows:auto 25px;}
.grvmessage-container{padding:0;cursor:pointer;width:100%;height:100%;overflow:hidden;background-color:#E6E9EE;}
.grvmessage-toolbar{margin:auto;padding:0px;height:100%;}
.grvmessage-item{position:relative;text-align:center;vertical-align: middle;height:100%;display:none;}
.grvmessage-item.active{display:block;}

.grvmessage-indicators{list-style-type: circle; padding:0px;margin:0px;}
.grvmessage-indicators .dot{height: 12px;width: 12px;background-color: #E6E9EE;border-radius: 50%;display: inline-block;margin:4px;}
.grvmessage-indicators .dot.active{background-color:#305BA2;}



.grvmessage-tag-new{position:absolute;top:0;left:0;width:55px;height:30px;line-height:28px;padding:0px 2px 0px 3px;font-size:13px;background-color:#2D65C6;color:#ffffff;text-align:left;}
.grvmessage-tag-new div{position:absolute;top:0px;width: 0;height: 0;border-top: 30px solid #2D65C6;border-right: 30px solid #E6E9EE;vertical-align:middle;right:0px;}



