<div id="cdisDashboardPage-default" class="main">
	<div class="row1">
		<div class="column1">
			<div widget="patientrecord" class="patientrecord-container">00</div>
			<div widget="diabethistory" class="diabethistory-container">dd</div>
			<div id="cdisFullButton" class="grvbutton">CDIS Full Version</div>
		</div>
		<div class="column2">
			<div widget="abcgraphs" class="abcgraphs-container">00</div>
		</div>
		<div class="column3">
			<div widget="bp" class="bp-container">aa</div>
			<div widget="hcp" class="hcp-container">bb</div>
			<div widget="doc" class="doc-container">cc</div>
		</div>
	</div>
	
	<div class="row2">
		<div widget="notes" class="notes-container">ee</div>
		<div widget="patientstats" class="patientstats-container">ff</div>
	</div>
</div>