<div class="patientrecord-default">
	<div class="fields-container">
		<div class="r1">
			<div data="chart" class="chart-container"></div>
			<div data="sex" class="sex-container avatar"></div>
			<div data="band" class="band-container"></div>
		</div>
		<div class="r">
			<div data="ramq" class="ramq-container"></div>
		</div>
		<div class="r">
			<div data="lname" class="lname-container"></div>
		</div>
		<div class="r">
			<div data="fname" class="fname-container"></div>
		</div>
		<div class="r">
			<div data="idcommunity" class="idcommunity-container"></div>
		</div>
		<div class="r">
			<div data="giu" class="giu-container"></div>
		</div>
	</div>
	<div class="buttons-container"></div>
</div>

<style>
	
	
	.patientrecord-default{display:grid;grid-template-rows:auto 30px;}
	
	
	
	
</style>
	
<script>
(function(){
	
	
})();

function editPatient(){
	alert('aaaa');
}

function addPatient(){
	alert('aaaa');
}

</script>