html {text-rendering: optimizelegibility !important;-webkit-font-smoothing: antialiased !important;height: 100%;padding:0px; margin:0px;}
/*body{font-size:14px;font-weight:normal;font-family: Trebuchet MS,Helvetica,Sans-Serif, Verdana, Courier, Arial;margin: 0px;padding : 0px;height: 100%;background:#5c6c9d;}*/
body{font-size:.9vw;font-weight:normal;font-family: Sans-Serif,Trebuchet MS,Helvetica,Verdana, Courier, Arial;margin: 0px;padding : 0px;height: 100%;
/*background:rgba(49,49,49,1);*/
background-image: radial-gradient(circle, #efefef, #cdcdcd);
/*background-image: radial-gradient(circle, #4D81DC, #305BA2);*/
color:#4d4d4d;
}

*{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}

/*

gradinet background  #4D81DC  to #305BA2
header :#2D65C6
button color #47BFC0

section background #F5F6F8
widget header #E6E9EE
*/


/*COMMON CLASSES*/
.wrap{height:100%;width:100%;}
/*user shadow style used in all boxes*/
.uss{-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);}
/*user button style used in all buttons  - round with shadow*/
.ubs{border-radius: 50%;box-shadow: 0 0 3px rgba(0,0,0,.22),0 3px 4px rgba(0,0,0,.34);-webkit-transform: translateX(-12px);transform: translateX(-12px);-webkit-transition: -webkit-transform 150ms,cubic-bezier(.4,0,.2,1),background-color,150ms,cubic-bezier(.4,0,.2,1);transition: transform 150ms,cubic-bezier(.4,0,.2,1),background-color,150ms,cubic-bezier(.4,0,.2,1);}
.umbra{box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);}


.common-header{height:50px;width:100%;}
.common-cdisheader{position:fixed;left:0px;top:0px;height:50px;width:100%;background-color:#4b3b3b;z-index: 100;display:grid;grid-template-columns:auto auto 350px;padding:0px;}
.common-cdisheader .logo{height:100%;width:auto;background:no-repeat url(../../images/cdis-logo50.png) left center;background-size: 32px 40px;font-size:30px;line-height:1.8;color:#ffffff;padding:0px 0px 0px 35px;}
.common-cdisheader .menu{position:absolute;margin:0px;padding:0px;list-style-type: none;right:15px;top:10px;height:35px;width:auto;font-size:16px;}
.common-cdisheader .menu li {display: inline-block;width:35px;height:35px;line-height:35px;text-align:center;color:#ffffff;margin:0px 10px 0px 0px;background-color:#47BFC0;}
.common-cdisheader .menu li:hover {background-color:#db4437; box-shadow: 0 0 4px rgba(0,0,0,.15),0 2px 6px rgba(0,0,0,.54);}

.common-cdisfooter-left{position:fixed;right:10px;bottom:10px;width:60px;margin-top:-65px;z-index: 20;font-size:16px;}
.common-cdisfooter-left .leftmenu{margin:0px 0px 0px 15px;padding:0px;bottom:5px;width:50px;height:50px;text-align:center;background-color:#47BFC0;}
.common-cdisfooter-left .leftmenu:hover {background-color:#db4437;}
.common-cdisfooter-left .leftmenu i{margin:auto;line-height:50px;font-size:160%;color:#ffffff;}
.common-cdisfooter-left .leftfootermenu{display:none;margin-left:15px;padding:0px;list-style-type: none;width:auto;margin-bottom:5px;}
.common-cdisfooter-left .leftfootermenu li{display:block;width:50px;height:50px;margin:10px 10px 10px 0px;background-color:#47BFC0;line-height:50px;text-align:center;color:#ffffff;font-size:120%;}
.common-cdisfooter-left .leftfootermenu li:hover{background-color:#db4437;}

.wrap {height:100%;width:100%;}
.mainpage {height:100%;width:100%;display:grid;grid-template-rows:50px auto;padding:0px;margin:0px;}


.mainpage .main .page .panel-full{display:block;width:98%;margin:auto;padding:5px;}
.mainpage .main .page .panel-half{display:inline-block;width:48%;margin:auto;padding:5px;vertical-align:top;}







/*
INDEX PAGE
*/
.index-page{}
.index-message-container{position:absolute;left:700px;top:30%;overflow:hidden;padding:10px;height:250px;width:400px;margin-top:20px;}
.index-login-container{position:absolute;left:130px;top:30%;height:330px;width:550px;}



/**
SEARCH PAGE CSS
*/

.mysearch{width:800px;margin:0 auto;}
.search-dashboard-menu{width:1000px;margin:0 auto;display:grid;grid-gap:20px;grid-template-columns:33% 33% 33%;}
.search-dashboard-menu .dashboard-menu-item{width:180px;}

.personal-patients{width:1000px;margin:0 auto;}





/*
CDIS PAGE
*/
#cdisPage .mysearch{width:100%;margin:0 auto;}

#cdisDashboardPage-default.main{display:grid;grid-gap:20px;grid-template-rows:auto 200px;width:100%;height:100%;}
#cdisDashboardPage-default.main .row1{width:100%;height:100%;display:grid;grid-template-columns:300px auto 250px;grid-gap:10px;/*border:1px solid red;*/}
#cdisDashboardPage-default.main .row2{width:100%;height:100%;display:grid;grid-template-columns: 45% 45%;grid-gap:10px;/*border:1px solid green;*/}
#cdisDashboardPage-default.main .row1 .column1{width:100%;height:100%;display:grid;grid-template-rows:auto auto 50px;grid-gap:10px;}
#cdisDashboardPage-default.main .row1 .column2{width:100%;height:100%;}
#cdisDashboardPage-default.main .row1 .column3{width:100%;height:100%;display:grid;grid-tempate-rows:33% 33% 33%;grid-gap:5px;}




.diabethistory-default {margin:5px;}
.diabethistory-default .r{margin-top:5px;}
.diabethistory-default .r.last{margin-top:5px;background-color:#4d4d4d;color:#ffffff;}
.diabethistory-default .r.hasdate{margin-top:5px;display:grid;grid-template-columns:55% 45%;}
.diabethistory-default .label{display:none;}

.diabethistory-default .r .value{font-size:1.1vw;font-weight:bold;text-align:center;width:100%;height:100%;line-height:1.8;}
.diabethistory-default .r .labeldate{display:inline-block;font-size:0.9vw;text-align:center;width:100%;}
.diabethistory-default .r .valuedate{display:inline-block;font-size:1.1vw;font-weight:bold;text-align:center;width:100%;}

.abcgraphs-container {height:100%;}
.abcgraphs-container .grvwidget{height:100%;}
.abcgraphs-container .grvwidget .body{height:100%;}
.abcgraphs-container .body{display:grid;grid-template-columns:auto auto; grid-template-rows: auto auto;grid-gap:10px;}
