html {text-rendering: optimizelegibility !important;-webkit-font-smoothing: antialiased !important;height: 100%;}
/*body{font-size:14px;font-weight:normal;font-family: Trebuchet MS,Helvetica,Sans-Serif, Verdana, Courier, Arial;margin: 0px;padding : 0px;height: 100%;background:#5c6c9d;}*/
body{font-size:.8vw;font-weight:normal;font-family: Sans-Serif,Trebuchet MS,Helvetica,Verdana, Courier, Arial;margin: 0px;padding : 0px;height: 100%;
/*background:rgba(49,49,49,1);*/
background-image: radial-gradient(circle, #4D81DC, #305BA2);
color:#4d4d4d;
}
/*

gradinet background  #4D81DC  to #305BA2
header :#2D65C6
button color #47BFC0

section background #F5F6F8
widget header #E6E9EE
*/


/*COMMON CLASSES*/
.wrap{height:100%;width:100%;}
/*user shadow style used in all boxes*/
.uss{-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);}
/*user button style used in all buttons  - round with shadow*/
.ubs{border-radius: 50%;box-shadow: 0 0 3px rgba(0,0,0,.22),0 3px 4px rgba(0,0,0,.34);-webkit-transform: translateX(-12px);transform: translateX(-12px);-webkit-transition: -webkit-transform 150ms,cubic-bezier(.4,0,.2,1),background-color,150ms,cubic-bezier(.4,0,.2,1);transition: transform 150ms,cubic-bezier(.4,0,.2,1),background-color,150ms,cubic-bezier(.4,0,.2,1);}
.umbra{box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);}

.btn-primary{
	background-image:radial-gradient(circle, #4D81DC, #305BA2);
	border-color:#305BA2;
}
.btn-primary:hover{
	background-image:radial-gradient(circle, #305BA2, #4D81DC );

}
.ui-widget-header{background:#E6E9EE;color:#4d4d4d;}
 


.common-button{border:none;margin-right:10px;font-family: Sans-Serif;font-size:1vm;display:inline-block;text-align:center;vertical-align:middle;color:#ffffff;padding:3px 10px 3px 10px;background-color:#4b3b3b;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);cursor: pointer;text-decoration:none;}
.common-button:hover{background-color:#db4437;color:#000000;-moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);}
.common-error{text-align:center; font-weight:900; color:#ff0000;}

.common-header{height:50px;width:100%;}
.common-cdisheader{position:fixed;left:0px;top:0px;height:50px;width:100%;background-color:#4b3b3b;z-index: 100;display:grid;grid-template-columns:auto auto 250px;}
.common-cdisheader .logo{height:100%;width:auto;background:no-repeat url(../../images/cdis-logo50.png) left center;background-size: 32px 40px;font-size:30px;line-height:1.8;color:#ffffff;padding:0px 0px 0px 35px;}
.common-cdisheader .menu{position:absolute;margin:0px;padding:0px;list-style-type: none;right:15px;top:10px;height:35px;width:auto;font-size:16px;}
.common-cdisheader .menu li {display: inline-block;width:35px;height:35px;line-height:35px;text-align:center;color:#ffffff;margin:0px 10px 0px 0px;background-color:#47BFC0;}
.common-cdisheader .menu li:hover {background-color:#db4437; box-shadow: 0 0 4px rgba(0,0,0,.15),0 2px 6px rgba(0,0,0,.54);}

.common-cdisfooter-left{position:fixed;right:10px;bottom:10px;width:60px;margin-top:-65px;z-index: 20;font-size:16px;}
.common-cdisfooter-left .leftmenu{margin:0px 0px 0px 15px;padding:0px;bottom:5px;width:50px;height:50px;text-align:center;background-color:#47BFC0;}
.common-cdisfooter-left .leftmenu:hover {background-color:#db4437;}
.common-cdisfooter-left .leftmenu i{margin:auto;line-height:50px;font-size:160%;color:#ffffff;}
.common-cdisfooter-left .leftfootermenu{display:none;margin-left:15px;padding:0px;list-style-type: none;width:auto;margin-bottom:5px;}
.common-cdisfooter-left .leftfootermenu li{display:block;width:50px;height:50px;margin:10px 10px 10px 0px;background-color:#47BFC0;line-height:50px;text-align:center;color:#ffffff;font-size:120%;}
.common-cdisfooter-left .leftfootermenu li:hover{background-color:#db4437;}


.wrap, .mainpage {height:100%;width:100%;}


.mainpage .main .page .panel-full{display:block;width:98%;margin:auto;padding:5px;}
.mainpage .main .page .panel-half{display:inline-block;width:48%;margin:auto;padding:5px;vertical-align:top;}






/* The switch - the box around the slider */
.grv-switch {position: relative;display: inline-block;width: 35px;height: 20px;}
.grv-switch input {opacity: 0;width: 0;height: 0;}
.grv-switch .slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;}
.grv-switch .slider:before {position: absolute;content: "";height: 16px;width: 16px;left: 2px;bottom: 2px;background-color: white;-webkit-transition: .4s;transition: .4s;}
.grv-switch input:checked + .slider {background-color: #2196F3;}
.grv-switch input:focus + .slider {box-shadow: 0 0 1px #2196F3;}
.grv-switch input:checked + .slider:before {-webkit-transform: translateX(16px);-ms-transform: translateX(16px);transform: translateX(16px);}
.grv-switch .slider.round {border-radius:20px;}
.grv-switch .slider.round:before {border-radius: 50%;}


.grv-message-container{background-color:#E6E9EE;}
.grv-message-tag-new{background-color:#2D65C6;color:#ffffff;}


/*
INDEX PAGE
*/
.index-page{}
/*.index-message-container{position:absolute;left:50%;margin-left:-400px;top:20px;padding:10px;height:100px;width:800px;border:2px solid red;}*/

.index-message-container{position:absolute;left:700px;top:30%;overflow:hidden;padding:10px;height:250px;width:400px;margin-top:20px;}
.index-login-container{position:absolute;left:130px;top:30%;height:330px;width:550px;}

.index-cdistext{color:#ffffff;font-size:1.5rem;height:50px;width:auto;z-index:1;}
.index-login{height:250px;width:100%;background-color: #f2f2f2;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);}



.index-avatar{height:150px;width:100px;background:no-repeat url(../../images/logo-front.png) #f2f2f2 center center;}
.index-username{height:27px;width:240px;margin:30px 3px 30px 3px;}
.index-password{height:27px;width:240px;margin:20px 3px 20px 3px;}
.index-login-button{right:10px;bottom:10px;position:absolute;}
.index-forgot-button{text-decoration:none;cursor:pointer;margin-top:20px;}
.index-subscribe-button{text-decoration:none;cursor:pointer;margin-top:20px;}
.index-dialog-subscribe .index-dialog-forgot{display:none;}

.index-dialog-subscribe  input, textarea, select{
	 margin-bottom:12px; width:95%; padding: .4em; 
	 display: block;
	 font-size: 90%;
	 color: #4d4d4d;
}

.index-dialog-subscribe label{
	 margin-bottom:5px;
	 display: block;
	font-size: 100%;
	color: #000000;
}

.index-dialog-forgot  input, textarea, select{
	 margin-bottom:12px; width:95%; padding: .4em; 
	 display: block;
	 font-size: 90%;
	 color: #4d4d4d;
}

.index-dialog-forgot label{
	 margin-bottom:5px;
	 display: block;
	font-size: 100%;
	color: #000000;
}


.index-dialog-subscribe  fieldset { padding:0; border:0; margin-top:25px; border:none;}
.index-dialog-forgot  fieldset { padding:0; border:0; margin-top:25px; border:none;}


 input[type=email]:focus, input[type=number]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=url]:focus {
	border: 1px solid #4285f4;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}



/**
SEARCH PAGE CSS
*/

.mysearch{width:1000px;margin:0 auto;}

.search-message{width:1000px;margin:auto;background-color:rgba(251,251,251, 1);margin-top:10px;margin-bottom:10px;height:150px;}


.search-search{width:1000px;height:150px;margin:auto;padding:0px;display:flex;flex-direction:row;flex-wrap:nowrap;}
.search-search .ssearch{flex:1 0;}
.search-search .ssearch .label{width:auto; text-align:center;font-size:220%;color:#ffffff;margin:0px;}
.search-search .ssearch .input{height:30px;}



.search-search .scriteria{flex:1 0;max-width:150px;left:0px;top:0px;margin:0px;border:1px solid #4b3b3b;}
.search-search .ssearch .searchtext{width:100%;height:100%;color:#000000;margin:0px;padding-left:10px;border-left:none;border-bottom:1px solid #4b3b3b;border-top:1px solid #4b3b3b;border-right:1px solid #4b3b3b;font-family: Sans-Serif,Tahoma,Verdana,Arial,sans-serif;font-size: 100%;text-transform: uppercase;text-align: left;}
.search-search #radios{border-color:#4b3b3b;}
.search-search #radios input{display:none;}
.search-search #radios .btn-default{background-color:#ececec;margin-bottom:0px;}
.search-search #radios .btn-default:hover{background-color:#db4437;color:#ffffff;font-weight:900;}
.search-search #radios .btn-default.active{background-color:#4b3b3b;color:#ffffff;font-weight:bold;}
.search-search #radios .btn.focus {  outline: none;box-shadow:none;}


.search-dashboard-menu{position:relative;width:700px;text-align:right;margin:auto;padding:5px;display:grid;grid-template-columns:200px 200px 200px;grid-column-gap: 20px;}
.dashboard-menu.item{}

.search-personal-patients{position:relative;max-height:250px;width:1000px;margin:auto;z-index:2;background-color:#efefef;overflow-x: hidden;padding:5px;}
.search-personal-patients .linkedHeader{position:relative;width:auto;padding:5px;background:rgba(46,80,150,1);border:1px solid #4d4d4d;}
.search-personal-patients .linkedHeader #linkedPatients{position:absolute;right:2px;top:6px;}

.search-personal-patients table{width:100%;border:1px solid #4d4d4d;}
.search-personal-patients table thead{font-size:90%;font-weight:bold;background:#4d4d4d;color:#ffffff;text-transform: uppercase;}
.search-personal-patients table tbody{font-size:80%;background:#ffffff;}
.search-personal-patients table thead td{padding:5px;text-align:center;}
.search-personal-patients table tbody td{padding:5px;text-align:center;}
.search-personal-patients table tbody tr{background:#ffffff;cursor:pointer;}
.search-personal-patients table tbody tr:hover{background:rgba(46,80,150,1);}

.search-personal-patients table tbody tr.notvisits{background:#ffc4c4;}
.search-personal-patients table tbody tr.notvisits:hover{background:rgba(46,80,150,1);}
.futurevisits{}
.search-personal-patients table tbody tr.currentvisits{background:#c4ffc8;}
.search-personal-patients table tbody tr.currentvisits:hover{background:rgba(46,80,150,1);}
.search-personal-patients p{margin:2px;padding:2px;}
.search-personal-patients #userfullname{font-weight:bold;}




.search-page .ui-autocomplete{width:612px;margin-left:-200px;height:300px;overflow: auto;-moz-border-radius: 0px;-webkit-border-radius: 0px;border-radius: 0px;}
.search-page .ui-autocomplete li div div{display:inline-block;padding:3px;overflow:hidden;}
.search-page  .ui-autocomplete li div div strong{background-color:#db4437;color:#ffffff;}
/*
.search-page .searchname {width:330px;}
.search-page .searchcommunity {width:130px;}
.search-page .searchchart {width:80px;}
.search-page .searchramq {width:180px;}
.search-page .searchgiu {width:80px;}
*/


.notes-alert{position:relative;height:100px;width:1000px;margin:auto;z-index:2;background-color:#efefef;display:none;overflow-x: hidden;padding:5px;}
.notes-alert .message{position:relative;background-color:#fefefe;text-align:left;font-size:90%;line-height:25px;margin:3px;padding:3px;}
.notes-alert .message-button{position:absolute;color:rgba(46,80,150,1);font-size:80%;cursor:pointer;right:15px;width:auto;top:2px;}
.notes-alert .message-button:hover{color:#4d4d4d;font-weight:bold;}


.personal-patients{position:relative;max-height:250px;width:1000px;margin:auto;z-index:2;background-color:#efefef;overflow-x: hidden;padding:5px;}
.personal-patients .linkedHeader{position:relative;width:auto;padding:5px;background:rgba(46,80,150,1);border:1px solid #4d4d4d;}
.personal-patients .linkedHeader #linkedPatients{position:absolute;right:2px;top:6px;}
.personal-patients table{width:100%;display:none;border:1px solid #4d4d4d;}
.personal-patients table thead{font-size:90%;font-weight:bold;background:#4d4d4d;color:#ffffff;text-transform: uppercase;}
.personal-patients table tbody{font-size:80%;background:#ffffff;}
.personal-patients table thead td{padding:5px;text-align:center;}
.personal-patients table tbody td{padding:5px;text-align:center;}
.personal-patients table tbody tr{background:#ffffff;cursor:pointer;}
.personal-patients table tbody tr:hover{background:rgba(46,80,150,1);}
.personal-patients table tbody tr.notvisits{background:#ffc4c4;}
.personal-patients table tbody tr.notvisits:hover{background:rgba(46,80,150,1);}
.personal-patients table tbody tr.currentvisits{background:#c4ffc8;}
.personal-patients table tbody tr.currentvisits:hover{background:rgba(46,80,150,1);}
.personal-patients p{margin:2px;padding:2px;}
.personal-patients #userfullname{font-weight:bold;}



/*
CDIS PAGE
*/
/*HEADER SEARCH*/
.common-cdisheader .search{width:600px;margin:auto;margin-top:5px;}
.common-cdisheader .search button{width:100px;}
.common-cdisheader .search .form-control{width:500px;}
.common-cdisheader .search .ssearch{height:100%;flex:1;}
.common-cdisheader .search .ssearch .searchtext{width:100%;height:100%;color:#000000;margin:0px;padding:0px 0px 0px 10px;border:1px solid #ffffff;text-transform: uppercase;}
.common-cdisheader .search #criteria{border:1px solid #ffffff;line-height:40px;text-transform: uppercase;text-align: center;cursor:pointer;color:#ffffff;background-color:#4b3b3b;}
.common-cdisheader .search .scriteria{position:absolute;width:150px;left:0;margin: 0;border:1px solid #ffffff;display:none;}

.common-cdisheader .search #radios{/*border-color:#4b3b3b;*/}

.common-cdisheader .search #radios .btn-default{background-color:#ececec;margin-bottom:0px;}
.common-cdisheader .search #radios .btn-default.active{background-color:#4b3b3b;color:#ffffff;font-weight:bold;}
.common-cdisheader .search #radios .btn.focus {  outline: none;box-shadow:none;}

.common-cdisheader .search .btn-secondary{background-color:#2D65C6;border-color:#2D65C6;}



.cdis-page .ui-autocomplete{height:300px;overflow: auto;font-size: 90%;padding:3px;} 
.cdis-page .ui-autocomplete li div div{display:inline-block;padding:3px;overflow:hidden;}
.cdis-page .ui-autocomplete li div div strong{background-color:rgba(46,80,150,1);}
.searchname {width:220px;}
.searchcommunity {width:100px;}
.searchchart {width:60px;}
.searchramq {width:100px;}
.searchgiu {width:80px;}


/*.mainpage #cdisDashboardPage{width:100%;}*/ 
/*.mainpage #cdisDashboardPage .container-fluid {width:100%;background-color:rgba(46,80,150,1);}*/
/*.mainpage #cdisDashboardPage .container-fluid .row > *{border:1px solid #000000;}*/

#cdisDashboardPage{display:none;}
#cdisSectionsPage{display:none;}

.main .container-fluid .row > *{padding: 0 !important;width:100%;}
.main .container-fluid .patient-container{margin:10px;background-color:#F5F6F8;box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);}

#cdisDashboardPage .patient-record-container{min-height:230px;}
#cdisDashboardPage .patient-thumbnail-container{height:200px;}
#cdisDashboardPage .patient-graph-container{min-height:400px;}
#cdisDashboardPage .patient-notes-container{height:200px;}
#cdisDashboardPage .patient-stats-container{height:200px;}
#cdisDashboardPage .patient-tools-container{height:180px;}
#cdisDashboardPage .patient-hcw-container{height:200px;}

/*
#cdisSectionsPage .container-fluid .row > *{padding: 0 !important;width:100%;}
#cdisSectionsPage .container-fluid .patient-container{position:relative;margin:10px;}
*/

#cdisSectionsPage .patient-record-container{min-height:230px;}
#cdisSectionsPage .patient-menu-container{height:30px;background-color:#47BFC0;}

#cdisSectionsPage .patient-menu-container .sections-menu{list-style: none;margin:0px;padding:0px;height:100%;display:flex;flex-flow:row nowrap;color:#ffffff;}
#cdisSectionsPage .patient-menu-container .sections-menu .sections-menu-item{flex:1 auto;text-align:center;line-height:30px;cursor:default;font-weight:900;}
#cdisSectionsPage .patient-menu-container .sections-menu .sections-menu-item:hover{background-image: radial-gradient(circle, #f76559, #db4437);}
#cdisSectionsPage .patient-menu-container .sections-menu .sections-menu-item.active{background-image: radial-gradient(circle, #77a5f4, #2D65C6);}
/*
background-image: radial-gradient(circle, #4D81DC, #305BA2);  #ef594c
*/

#cdisSectionsPage .patient-depresion-container{height:160px;}
#cdisSectionsPage .patient-vaccination-container{height:160px;}
#cdisSectionsPage .patient-section-container{height:400px;}
#cdisSectionsPage .patient-notes-container{height:160px;}
#cdisSectionsPage .patient-meds-container{height:160px;}
#cdisSectionsPage .patient-tools-container{height:40px;}
#cdisSectionsPage .patient-visit-container{height:100px;}



@media screen  and  (max-height: 2160px) {
	
	#cdisDashboardPage .patient-thumbnail-container{height:200px;}
	#cdisDashboardPage .patient-graph-container{min-height:780px;}
	#cdisDashboardPage .patient-notes-container{height:250px;}
	#cdisDashboardPage .patient-stats-container{height:250px;}
	#cdisDashboardPage .patient-tools-container{height:180px;}
	#cdisDashboardPage .patient-hcw-container{height:250px;}
	
	#cdisSectionsPage .patient-record-container{height:200px; }
	#cdisSectionsPage .patient-menu-container{height:30px; }
	#cdisSectionsPage .patient-depresion-container{height:200px; }
	#cdisSectionsPage .patient-vaccination-container{height:200px; }
	#cdisSectionsPage .patient-section-container{height:680px; }
	#cdisSectionsPage .patient-notes-container{height:200px; }
	#cdisSectionsPage .patient-meds-container{height:200px; }
	#cdisSectionsPage .patient-tools-container{height:40px; }
	#cdisSectionsPage .patient-visit-container{height:150px;}
}
@media screen  and  (max-height: 1080px) {
	
	
	#cdisDashboardPage .patient-thumbnail-container{height:200px; }
	#cdisDashboardPage .patient-graph-container{min-height:600px; }
	#cdisDashboardPage .patient-notes-container{height:200px; }
	#cdisDashboardPage .patient-stats-container{height:200px; }
	#cdisDashboardPage .patient-tools-container{height:160px; }
	#cdisDashboardPage .patient-hcw-container{height:200px;}
	
	#cdisSectionsPage .patient-record-container{height:200px; }
	#cdisSectionsPage .patient-menu-container{height:30px; }
	#cdisSectionsPage .patient-depresion-container{height:200px;}
	#cdisSectionsPage .patient-vaccination-container{height:200px; }
	#cdisSectionsPage .patient-section-container{height:560px; }
	#cdisSectionsPage .patient-notes-container{height:200px; }
	#cdisSectionsPage .patient-meds-container{height:200px; }
	#cdisSectionsPage .patient-tools-container{height:40px; }
	#cdisSectionsPage .patient-visit-container{height:120px;}
	
	
}
@media screen  and  (max-height: 900px) {
	
	
	#cdisDashboardPage .patient-thumbnail-container{height:200px;}
	#cdisDashboardPage .patient-graph-container{min-height:500px; }
	#cdisDashboardPage .patient-notes-container{height:160px; }
	#cdisDashboardPage .patient-stats-container{height:160px; }
	#cdisDashboardPage .patient-tools-container{height:160px; }
	#cdisDashboardPage .patient-hcw-container{height:160px;}
	
	#cdisSectionsPage .patient-record-container{height:200px; }
	#cdisSectionsPage .patient-menu-container{height:30px; }
	#cdisSectionsPage .patient-depresion-container{height:200px; }
	#cdisSectionsPage .patient-vaccination-container{height:200px;}
	#cdisSectionsPage .patient-section-container{height:480px;}
	#cdisSectionsPage .patient-notes-container{height:200px;}
	#cdisSectionsPage .patient-meds-container{height:200px;}
	#cdisSectionsPage .patient-tools-container{height:40px;}
	#cdisSectionsPage .patient-visit-container{height:120px;}
	
}
@media screen  and  (max-height: 800px) {
	
	
	#cdisDashboardPage .patient-thumbnail-container{height:180px; }
	#cdisDashboardPage .patient-graph-container{min-height:400px;}
	#cdisDashboardPage .patient-notes-container{height:150px;}
	#cdisDashboardPage .patient-stats-container{height:150px;}
	#cdisDashboardPage .patient-tools-container{height:120px;}
	#cdisDashboardPage .patient-hcw-container{height:150px;}
	
	#cdisSectionsPage .patient-record-container{height:150px;}
	#cdisSectionsPage .patient-menu-container{height:30px;}
	#cdisSectionsPage .patient-depresion-container{height:160px;}
	#cdisSectionsPage .patient-vaccination-container{height:160px;}
	#cdisSectionsPage .patient-section-container{height:400px;}
	#cdisSectionsPage .patient-notes-container{height:160px; }
	#cdisSectionsPage .patient-meds-container{height:160px; }
	#cdisSectionsPage .patient-tools-container{height:40px; }
	#cdisSectionsPage .patient-visit-container{height:100px;}
}


.main .block-wmenu {position:absolute;top:10px;right:10px;padding:2px 10px 2px 10px;text-align:center;color:#cdcdcd;background-color:#E6E9EE;}
.main .block-wmenu:hover{color:#4d4d4d;}
.main .block-wmenu:hover  .slider{height:25px;}
.main .block-wmenu .slider{
	position:absolute;
	text-align:center;
	color:#4d4d4d;
	/*background-color:rgba(46,80,150,1);*/
	width:100px;
	height:0px;
	overflow:hidden;
	top:0;
	left:-100px;
	transition: height .25s ease-in-out;
	
	}
.main .block-wmenu .slider .slider-item{display:inline-block;margin:2px 4px 2px 4px;padding:3px;}
.main .block-wmenu .slider .slider-item:hover{background-color:#cdcdcd;}




.main .block-title {color:#ffffff;background-color:#2D65C6;width:150px;position:relative;height:25px;line-height:22px;padding:2px 2px 2px 5px;font-size:16px;}
.main .block-title div{position:absolute;top:0px;width: 0;height: 0;border-top: 25px solid #2D65C6;border-right: 25px solid #F5F6F8;vertical-align:middle;right:0px;}




.main .prc-avatar {display:inline-block;background-color:#E6E9EE;width:80px;height:80px;border-radius: 50%;text-align:center;line-height:80px;font-size:60px;margin:5px;vertical-align:top;}
.main .prc-name {display:inline-block;}
.main .prc-fname {font-size:180%;padding:2px;}
.main .prc-lname {font-size:180%;padding:2px;}
.main .prc-community {font-size:140%;padding:5px 8px 5px 8px;background-color:#E6E9EE;color:#4d4d4d;margin:5px;text-align:center;}
.main .prc-ramq,.prc-chart, .prc-ipm{margin:7px;}
.main .spanv{background-color:#cdcdcd;;padding:2px 3px 2px 3px;font-weight:bold;margin:0px;}
.main .spanl{padding:2px 10px 2px 5px;background-color:#4d4d4d;color:#ffffff;text-transform: uppercase;margin:0px;}
.main .prc-dtype{margin:5px;}
.main .prc-dtype .spanl{width:auto; text-align:center;}
.main .prc-dtype .spanv{width:auto;text-align:center;}



.abcgraphs-container{width:100%;text-align:center;}
.graph-container{width:40%;border:1px solid #000000;display:inline-block;}

.widget-container{width:47%;border:1px solid #E6E9EE;display:inline-flex;flex-flow:row nowrap;margin:10px;}
.widget-container .widget-menu{min-width:25px;max-width:25px;flex:1 auto;background-color:#E6E9EE;color:#ffffff;}
.widget-container .widget{flex:1 auto;background-color:#ffffff;}
.widget-menu .widget-menu-item {width:22px;height:22px;line-height:22px;margin:auto;color:#cdcdcd;text-align:center;}
.widget-menu .widget-menu-item:hover {background-color:#cdcdcd;color:#4d4d4d;}



