html {
text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
}
body{
	font-size:14px;
	font-weight:normal;
	font-family: Sans-Serif, Verdana, Courier, Arial;
	margin: 0px;padding : 0px;height: 100%;
	background:#5c6c9d;
}


/*COMMON CLASSES*/
.wrap{height:100%;width:100%;}
.common-button{border:none;margin-right:10px;font-family: Sans-Serif;font-size:90%;display:inline-block;text-align:center;vertical-align:middle;color:#ffffff;padding:3px 10px 3px 10px;background-color:#4b3b3b;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);cursor: pointer;text-decoration:none;}
.common-button:hover{background-color:#db4437;color:#000000;-moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);}
.common-error{text-align:center; font-weight:900; color:#ff0000;}


/*
INDEX PAGE
*/
.index-page{}
.index-login-container{position:absolute;left:0;top:30%;height:330px;width:100%;}
.index-frontpage-container{
	position:absolute;
	left:50%;
	margin-left:-400px;
	top:20px;
	overflow:hidden;
	padding:10px;
	height:100px;
	width:800px;
	background: #f2f2f2;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */

}
.index-cdistext{color:#ffffff;font-size:280%;position:absolute;left:200px;top:5px;height:50px;width:auto;z-index:1;}
.index-login{position:absolute;left:200px;top:50%;margin-top:-100px;height:250px;width:550px;background-color: #f2f2f2;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);}
.index-avatar{position:absolute;left:20px;top:30px;height:120px;width:100px;background:no-repeat url(../../images/logo-front.png) #f2f2f2 center center;}
.index-username{position:absolute;left:160px;top:40px;height:27px;width:240px;}
.index-password{position:absolute;left:160px;top:90px;height:27px;width:240px;}


.index-login-button{position:absolute;top:85px;right:20px;font-size:150%;}
.index-forgot-button{position:absolute;top:175px;right:20px;text-decoration:none;cursor:pointer;}
.index-subscribe-button{position:absolute;top:175px;left:20px;}

.index-dialog-subscribe .index-dialog-forgot{display:none;}

.index-dialog-subscribe  input, textarea, select{
	 margin-bottom:12px; width:95%; padding: .4em; 
	 display: block;
	 font-size: 90%;
	 color: #4d4d4d;
}

.index-dialog-subscribe label{
	 margin-bottom:5px;
	 display: block;
	font-size: 100%;
	color: #000000;
}

.index-dialog-forgot  input, textarea, select{
	 margin-bottom:12px; width:95%; padding: .4em; 
	 display: block;
	 font-size: 90%;
	 color: #4d4d4d;
}

.index-dialog-forgot label{
	 margin-bottom:5px;
	 display: block;
	font-size: 100%;
	color: #000000;
}


.index-dialog-subscribe  fieldset { padding:0; border:0; margin-top:25px; border:none;}
.index-dialog-forgot  fieldset { padding:0; border:0; margin-top:25px; border:none;}


 input[type=email]:focus, input[type=number]:focus, input[type=password]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=url]:focus {
	border: 1px solid #4285f4;
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}



